<% if(message.length > 0) { %>
<script>
  Swal.fire({
    title: "<%=message[1]%>",
    text: "<%= message[2] %>",
    icon: "<%=message[0]%>",
  });
</script>
<% } %> <% let nama_barang="",jumlah="",harga_satuan="",kadaluarsa=""; if (data)
{ nama_barang = data.nama_barang; jumlah = data.jumlah; harga_satuan =
data.harga_satuan; kadaluarsa = data.expire_date; }%>
<div class="row">
  <div class="container col-75">
    <h2 class="header">Edit Barang</h2>
    <form id="form" action="/barang/<%=data._id%>" method="post">
      <input type="hidden" name="id" value="<%= data._id %>" />
      <input type="hidden" name="mode" id="mode" value="update" />
      <div class="row">
        <div class="col-25">
          <label for="nama_barang">Nama Barang</label>
        </div>
        <div class="col-50">
          <input
            type="text"
            id="nama_barang"
            name="nama_barang"
            value="<%=nama_barang%>"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="jumlah">Jumlah</label>
        </div>
        <div class="col-25">
          <input type="number" id="jumlah" name="jumlah" value="<%=jumlah%>" />
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="harga_satuan">Harga Satuan</label>
        </div>
        <div class="col-25">
          <input
            type="number"
            id="harga_satuan"
            name="harga_satuan"
            value="<%=harga_satuan%>"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="kadaluarsa">Tanggal Kadaluarsa</label>
        </div>
        <div class="col-25">
          <input type="date" id="kadaluarsa" name="kadaluarsa" value="<%=
          kadaluarsa ? new Date(kadaluarsa).toISOString().slice(0, 10) : ""
          %>"/>
        </div>
      </div>
      <div class="row">
        <div class="col-25">&nbsp;</div>
        <div class="col-75">
          <button onclick="edit('update')" type="button" class="btn primary">
            <i class="fa-solid fa-pen-to-square"></i> Edit
          </button>
          <button onclick="edit('delete')" type="button" class="btn danger">
            <i class="fa-solid fa-trash"></i> Delete
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
