<% if(message.length > 0) { %>
<script>
  Swal.fire({
    title: "<%=message[1]%>",
    text: "<%= message[2] %>",
    icon: "<%=message[0]%>",
  });
</script>
<%} %>
<div class="container">
  <div class="header">
    <h2>Data barang</h2>
  </div>
  <div class="row">
    <div>
      <button
        onclick="location.href='/barang/insert'"
        type="button"
        class="btn primary"
      >
        <i class="fa-solid fa-plus"></i> Tambah
      </button>
    </div>
    <table id="example" class="stripe" style="width: 100%">
      <thead>
        <tr>
          <th>No</th>
          <th>Nama Barang</th>
          <th>Jumlah</th>
          <th>Harga Satuan</th>
          <th>Kadaluarsa</th>
          <th>&nbsp</th>
        </tr>
      </thead>
      <tbody>
        <% data.forEach((row, no) => {no++ %>
        <tr>
          <td><%= no %></td>
          <td><%= row.nama_barang %></td>
          <td><%= row.jumlah %></td>
          <td><%= row.harga_satuan %></td>
          <td>
            <%= row.expire_date ? new
            Date(row.expire_date).toISOString().slice(0, 10) : '' %>
          </td>
          <td>
            <a href="/barang/<%= row._id.toString() %>"
              ><i class="fa-solid fa-pen-to-square"></i> Edit</a
            >
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>
